[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua.git
[submodule "submodules/sol2"]
	path = submodules/sol2
	url = https://github.com/ThePhD/sol2
[submodule "submodules/inja"]
	path = submodules/inja
	url = https://github.com/pantor/inja.git
